<main class="lg:relative">
    <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">
      <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
          <span class="block xl:inline">{{header_line_1}}</span>
          <span class="block text-blue-800 xl:inline">{{header_line_2}}</span>
        </h1>
        <p class="mt-3 max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
          {{ header_paragraph }}
        </p>
        {{if church_information:watch_live_link or church_information:give_online_link}}
        <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
          {{if church_information:watch_live_link}}
          <div class="rounded-md shadow">
            <a href="{{church_information:watch_live_link}}" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
              Watch Live
            </a>
          </div>
          {{/if}}
          {{if church_information:give_online_link}}
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a href="{{church_information:give_online_link}}" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
              Give Online
            </a>
          </div>
          {{/if }}
        </div>
        {{/if }}
        {{if church_information:ind_services}}
        <div class="mt-8 p-6 bg-gray-200">
              <ul>
                {{ church_information:ind_services}}
                <li class="max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:max-w-3xl mt-6 block last:mb-0">{{day_of_week}} - {{time}} - {{title}}</li>
                {{/church_information:ind_services}}
              </ul>
          </div>
        {{/if }}
      </div>
    </div>
    <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
      <img class="absolute inset-0 w-full h-full object-cover" src="{{ header_image:url }}" alt="">
    </div>
  </main>
