<!-- This example requires Tailwind CSS v2.0+ -->
<footer class="bg-white " aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8  ">
  <div class="mt-12 border-t border-gray-200 mb-12"></div>
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8 xl:col-span-1">
        <img class="h-10" src="{{church_information:church_logo:url}}" alt="First Christian Church">
        <p class="text-gray-500 text-base lg:ml-4">
          {{church_information:street}} </br>
          {{church_information:city}}, {{church_information:state}} {{church_information:zip}} </br>
          {{church_information:church_email}} </br>
          {{church_information:church_phone}}
        </p>

      </div>
      <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>

          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              About Us
            </h3>
            <ul class="mt-4 space-y-4">
              <li>
                <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                  Leadership
                </a>
              </li>

              <li>
                <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                  Beliefs
                </a>
              </li>

              <li>
                <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                  Ministries
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              Resources
            </h3>
            <ul class="mt-4 space-y-4">

              <li>
                <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                  Sermons
                </a>
              </li>

              <li>
                <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                  Youtube
                </a>
              </li>

              <li>
                <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                  Newsletter
                </a>
              </li>

              <li>
                <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                  Announcements
                </a>
              </li>
            </ul>
          </div>

          <div class="mt-12 md:mt-0">
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              Take Part
            </h3>
            <ul class="mt-4 space-y-4">
              {{ if  church_information:give_online_link }}
              <li>
                <a href="{{ church_information:give_online_link  }}" class="text-base text-gray-500 hover:text-gray-900">
                  Give Online
                </a>
              </li>
              {{/if }}
              {{ if  church_information:watch_live_link }}
              <li>
              <a href="{{ church_information:watch_live_link }}" class="text-base text-gray-500 hover:text-gray-900">
                Watch Live
              </a>
            </li>
            {{/if }}

              <li>
                <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                  Prayer Requests
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 border-t border-gray-200 pt-8">
      <p class="text-base text-gray-400 xl:text-center">
        &copy; {{church_information:church_name}}.  Website setup by Ryan Hayden
      </p>
    </div>
  </div>
</footer>
